@deep-base: #38559C;
@base: #506FBC;
@light-base: #628EFC;

// menu
.el-menu {
  background-color: #0f1b36;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-width: 180px;
  text-align: left;
  font-weight: 500;
  border-right: 2px solid #0f1b36;
}

.el-menu-item, .el-submenu__title, .el-menu-item-group__title {
  color: white;
}

.el-menu--collapse {
  width: 60px;
  min-width: 60px;
}

.el-submenu__title {
  &:hover {
    background-color: #0f1b36;
  }
}

.el-menu-item {
  &:hover {
    background-color: @base;
  }

  &.is-active {
    background-color: @base;
    color: white;
  }
}

// el-input
.el-input {
  width: 200px;
  .el-input__inner {
    line-height: 36px;
    height: 36px;
  }
}

// el-table
.el-table {
  .el-table__header-wrapper {
    .el-table__header {     
      border-bottom: 1px solid #ebebeb;
      tr, th {
        border: none !important;       //表头边框
        background-color: #7586b3;  //表头颜色
        color: #fff;
      }
    }
  }
}

// el-pagination
.el-pagination {
  // margin: 20px 30px 20px 0;
  height: 36px;
  text-align: right;    //居右
  color: #96abc6;
  //由于select的height为36，故以下整体调整
  button, span:not([class*=suffix]) {
    height: 36px;
    line-height: 36px;
  }
  .el-pager {
    li {
      height: 36px;
      line-height: 36px;
      width: 36px;
      color: #96abc6;
      border-radius: 5px;
      background-color: #f4f4f5;
      margin: 0 5px;
      &:not(.disabled).active {
        background-color: @base;
        color: #fff;
      }
    }
  }
  .el-pagination__total, .el-icon-arrow-left, .el-icon-arrow-right {
    color: #96abc6;
  }
  .el-pagination__jump {
    color: #96abc6;
    .el-input {
      width: 80px;
      .el-input__inner {
        display: flex;
        justify-content: center;
      }
    }
  }
}
